@using NSE.WebApp.MVC.Extensions
@model IEnumerable<NSE.WebApp.MVC.Models.ProductViewModel>

@{
    ViewData["Title"] = "Todos os produtos";
}

<section>
    <div>
        <div style="background-image: url(images/banners/Template.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover">
            <div style="text-align: center;">
                <img src="~/images/banners/nerdstore.png" />
            </div>
        </div>
        <div class="container" style=" padding-top: 20px">
            <div class="row">
                @{
                    foreach (var products in Model.OrderBy(p => p.Name))
                    {
                        <div class="col-md-3">
                            <div href="#" class="card card-product-grid">
                                <a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@products.Id" class="img-wrap">
                                    <img src="~/images/produtos/@products.Image" alt="@products.Name">
                                </a>
                                <figcaption class="info-wrap">
                                    <a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@products.Id" class="title">
                                        <b> @products.Name</b>
                                    </a>

                                    <small class="card-text">
                                        @this.MessageInventory(products.InventoryQuantity)<br /><br />
                                        @products.Description
                                    </small>
                                </figcaption>
                                <div class="card-footer price mt-1">
                                    <h3>@this.FormatoMoeda(products.Value)</h3>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>